<%- include('../layouts/adminheader.ejs') %>


<div class="container mt-5">
      <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-16 col-xl-16 tm-block-col">
          <div class="tm-bg-primary-dark tm-block tm-block-products">
            <div class="tm-product-table-container">
              <table class="table table-hover tm-table-small tm-product-table " id="example">
                <thead>
                  <tr>
                    <th scope="col">sl.no:</th>
                    <th scope="col">PRODUCT NAME</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">IMAGE</th>
                    <th scope="col">STOCK</th>
                    <th scope="col">CATEGORY</th>
                    
                    <th scope="col">DELETE</th>
                    <th scope="col">EDIT</th>
                    <th scope="col">VIEW</th>
                  </tr>
                </thead>
                <tbody>
                  
                    <% if (product.length>0) {
                        for(let i=0;i<product.length;i++) { %>
                          <tr>
                  
                    <td ><%= [i+1] %></td>
                    <td class="tm-product-name"><%= product[i].name %></td>
                    <td>Rs.<%= product[i].price %></td>
                    <td><img style="height:5rem;width:5rem;" src="/productimage/<%= product[i].Image[0] %>" alt="<%= product[i].Image[0] %>"></td>
                    <td><%= product[i].Instock %></td>
                    <td><%= product[i].category.name %></td>
                    <td>
                      <form action="/admin/delete-product?id=<%= product[i]._id %>" method="post">
                        <button type="submit"class="tm-product-delete-link" onclick="formSubmit()" > <i class="far fa-trash-alt tm-product-delete-icon"></button></i>
                       
                    
                    </form>
                    </td>
                      </a>
                    </td>
                    <td>
                     <a href="/admin/edit-product?id=<%= product[i]._id %>"><button type="submit"class="tm-product-delete-link">
                        <i class="fa-solid fa-pen-to-square" style="color: white
                        ;"></i></button>
                      </a>
                    </td>
                    <td>
                     <a href="/admin/view-product?id=<%= product[i]._id %>" > <button type="submit"class="tm-product-delete-link">
                        <i class="fa fa-eye" aria-hidden="true" style="color: white;"></i></button>
                      </a>
                    </td>
                  </tr>
                  <% } %>
                  <% } else {%>
                    <tr>
                      <td colspan="5">Product not found</td>

                    </tr>
                   <% } %>
                 
                  
                 
                  
                 
                 
                 
                 
                </tbody>
              </table>
            </div>
            <!-- table container -->
            <a
              href="/admin/add-product"
              class="btn btn-primary btn-block text-uppercase mb-3">Add new product</a>
           
          </div>
        </div>
        
      </div>
    </div>
    <footer class="tm-footer row tm-mt-small">
      <div class="col-12 font-weight-light">
        <p class="text-center text-white mb-0 px-4 small">
          Copyright &copy; <b>2018</b> All rights reserved. 
          
          Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
        </p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
    <script>
      $(document).ready(function () {
    $('#example').DataTable({
        pagingType: 'full_numbers',
    });
});
    </script>
   
    <script>
        function formSubmit() {
    event.preventDefault(); // prevent form submit
    let form = event.target.form; // storing the form
    swal({
        title: "Are you sure?",
        text: "You cannot retrieve the file ",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33",
        cancelButtonColor:"#DD6B55",
        confirmButtonText: "Yes, Delete it!",
        cancelButtonText: "No, cancel please!",
        closeOnConfirm: false,
        closeOnCancel: false,

    },
        function (isConfirm) {
            if (isConfirm) {
                form.submit();          // submitting the form when user press yes
            } else {
                swal("Cancelled", "Your file is safe :)", "error");
            }
        });
}

    </script>

    <script>
      $(function() {
        $(".tm-product-name").on("click", function() {
          window.location.href = "edit-product.html";
        });
      });
    </script>
    <script src="js/jquery-3.3.1.min.js"></script>
<script src="https://kit.fontawesome.com/d4801b7ff5.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<!-- https://jquery.com/download/ -->
<script src="js/bootstrap.min.js"></script>
<script src="/jquery-3.3.1.min.js"></script>
<!-- https://jquery.com/download/ -->
<script src="/moment.min.js"></script>
<!-- https://momentjs.com/ -->
<script src="/Chart.min.js"></script>
<!-- http://www.chartjs.org/docs/latest/ -->
<script src="/bootstrap.min.js"></script>
<!-- https://getbootstrap.com/ -->
<script src="/tooplate-scripts.js"></script>
<script src="https://kit.fontawesome.com/d4801b7ff5.js" crossorigin="anonymous"></script>
<!-- https://getbootstrap.com/ -->
</body>
</html>

</section>