<body>
    <!-- Page Preloder -->
   

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><h3 style="font-family: 'Audiowide', cursive;">E-MART</h3></a>
        </div>
        <div class="humberger__menu__cart">
            <ul><% if(wishlistCount === null) { %>
                <li><a href="/wishlist"><i class="fa fa-heart"></i> <span>0</span></a></li>
                <% } else { %>
                <li><a href="/wishlist"><i class="fa fa-heart"></i> <span><%= wishlistCount %></span></a></li>
                <% } %>

                <% if(cartcount === null) { %>
                    <li><a href="/cart"><i class="fa fa-shopping-bag"></i> <span>0</span></a></li>
                    <% } else { %>
                        <li><a href="/cart"><i class="fa fa-shopping-bag"></i> <span><%= cartcount %></span></a></li>
                </ul>
                <% } %>

            <div class="header__cart__price"> <span></span></div>
        </div>
        <div class="humberger__menu__widget">
            
            <div class="header__top__right__language">
                <img src="img/language.png" alt="">
                <div>English</div>
                <span ><i class="fa-solid fa-caret-down"></i>
                </span>
               
            </div>
        
           
            
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class=""><a href="/">Home</li></a>
                <li><a href="/shop">Shop</li></a>
              
                    
                      
                        <li><a href="/wishlist">Shoping Cart</li></a>
                        
                        <li><a href="/cart">Favourites</li></a>
                    
                
           
                <li><a href="./contact.html">Contact</li></a>
                <% if(user) {%>
                  
                    <li><a href="/logout">Logout</li></a>
                  
                    <% } else { %>
                      
                        <li><a href="/login"></i>Login</li></a>
                 
                   
                        <% } %>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i>E-cart@gmail.com</li>
                <li>Free Shipping for all Order of Rs.500</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> E-cart@gmail.com</li>
                                <li>Free Shipping for all Order of Rs.500</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="img/language.png" alt="">
                                <div>English</div>
                                <span><i class="fa-solid fa-caret-down"></i></span>
                                <ul>
                                    <li><a href="#">Spanis</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>
                            <% if(user) {%>
                                <div class="header__top__right__language">
                                   
                                    <div>Welcome,<%= user.name %></div>
                                    <span><i class="fa-solid fa-caret-down"></i></span>
                                    <ul>
                                        <li><a href="/view-profile">View-profile</a></li>
                                        <li><a href="/order-list">Orderlist</a></li>
                                        <li><a href="/logout">Logout</a></li>
                                    </ul>
                                    </ul>
                                </div>
                               
                                
                                <% } else { %>
                                    <div class="header__top__right__auth">
                                        <a href="/login"><i class="fa fa-user"></i>Login</a>
                                        
                                    </div>
        
                                    <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="#"><h2 style="font-family: 'Audiowide', cursive;">E-MART</h2></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class=""><a href="/">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                          
                                
                                  
                                    <li><a href="/wishlist">Favourites</li></a>
                                    
                                    <li><a href="/cart"> Cart</li></a>
                                
                            
                       
                            <li><a href="./contact.html">Contact</a></li>
                           
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul><% if(wishlistCount === null) { %>
                            <li><a href="/wishlist"><i class="fa fa-heart"></i> <span>0</span></a></li>
                            <% } else { %>
                            <li><a href="/wishlist"><i class="fa fa-heart"></i> <span><%= wishlistCount %></span></a></li>
                            <% } %>
            
                            <% if(cartcount === null) { %>
                                <li><a href="/cart"><i class="fa fa-shopping-bag"></i> <span>0</span></a></li>
                                <% } else { %>
                                    <li><a href="/cart"><i class="fa fa-shopping-bag"></i> <span><%= cartcount %></span></a></li>
                            </ul>
                            <% } %>
                        <div class="header__cart__price"><span></span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>