<%- include('../layouts/header.ejs') %>
<%- include('../layouts/nav.ejs') %>
<style>
    /* Form styling */
    body {
  background: rgb(255, 254, 255)
}

.form-control:focus {
  box-shadow: none;
  border-color: #eddaf0
}

.profile-button {
  background: rgb(96, 211, 42);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #62e65f
}

.profile-button:focus {
  background: #44d844;
  box-shadow: none
}

.profile-button:active {
  background: #6ad15d;
  box-shadow: none
}

.back:hover {
  color: #36cd68;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #ccb3d0;
  color: #fff;
  cursor: pointer;
  border: solid 1px #c8aecc
}
  </style>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Edit Address </h4>
                </div>
                <div class="row mt-2">

                </div>
                <div class="row mt-3">
                  <form action="" method="post">
                    
                    <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text" class="form-control" placeholder="enter address " value="<%= address1[1].address1 %>" name="address" required></div>
                    <div class="col-md-12"><label class="labels">Postcode</label><input type="text" class="form-control" placeholder="postcode" value="<%= address1[1].postalcode %>" name="postcode" required></div>
                    <div class="col-md-12"><label class="labels">district</label><input type="text" class="form-control" placeholder="district" value="<%= address1[1].district %>" name="district" required></div>
                    <div class="col-md-12"><label class="labels">State</label><input type="text" class="form-control" placeholder="state" value="<%= address1[1].state %>" name="state" required></div>
                    <div class="col-md-12"><label class="labels">Area</label><input type="text" class="form-control" placeholder="enter address line 2" value="<%= address1[1].area %>"  name="area" required></div>
                    <div class="col-md-12"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value="<%= address1[1].country %>" name="country"></div>
                    <% console.log(address1[1].address1); %>
                
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save address</button></div>
              </form>
            </div>
        </div>
        
            
        </div>
    </div>
</div>
</div>
</div>



<%- include('../layouts/footer.ejs') %>