<%- include('../layouts/header.ejs') %>
<%- include('../layouts/nav.ejs') %>

    <style>
      /* Form styling */
      body {
    background: rgb(255, 254, 255)
}

.form-control:focus {
    box-shadow: none;
    border-color: #eddaf0
}

.profile-button {
    background:#7fad39;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #62e65f
}

.profile-button:focus {
    background: #44d844;
    box-shadow: none
}

.profile-button:active {
    background: #6ad15d;
    box-shadow: none
}

.back:hover {
    color: #36cd68;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #ccb3d0;
    color: #fff;
    cursor: pointer;
    border: solid 1px #c8aecc
}
    </style>
    <% if(user.address[0]) {%>
 <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12"><label class="labels">USERNAME</label><input type="text" class="form-control" placeholder="first name" value="<%= user.name %>" disabled></div>
                    
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" value="<%= user.mobile %>" disabled></div>
                    <div class="col-md-12"><label class="labels">Address  </label><input type="text" class="form-control" placeholder="enter address  " value="<%= user.address[0].address1 %>" disabled></div>
                    <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" placeholder="enter email id" value="<%= user.email %>" disabled></div>
                   
                </div>
               
                <div class="mt-5 text-center"><a href="/edit-profile"><button class="btn btn-primary profile-button" type="button">Edit profile</button></a><a href="/add-address"><button class="btn btn-primary profile-button ms-2" type="button">Add Address</button></a><a href="/view-address"><button class="btn btn-primary profile-button ms-2" type="button">View address</button></a></div>
                
            </div>
        </div>
        
    </div>
</div>
</div>
</div>
<% } else { %>
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12"><label class="labels">USERNAME</label><input type="text" class="form-control" placeholder="first name" value="<%= user.name %>" disabled></div>
                        
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" value="<%= user.mobile %>" disabled></div>
                        <div class="col-md-12"><label class="labels">Address Line </label><input type="text" class="form-control" placeholder="enter address line 1" value="" disabled></div>
                        <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" placeholder="enter email id" value="<%= user.email %>" disabled></div>
                       
                    </div>
                   
                    <div class="mt-5 text-center"><a href="/edit-profile"><button class="btn btn-primary profile-button" type="button">Edit profile</button></a><a href="/add-address"><button class="btn btn-primary profile-button ms-2" type="button">Add Address</button></a></div>
                </div>
            </div>
            
        </div>
    </div>
    </div>
    </div>
    <% } %>
<%- include('../layouts/footer.ejs') %>